body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


}

.design {
    width: 100%;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0;

}

.big {
    display: none;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 4px;
    color: hsl(228, 12%, 48%);
    margin-top: 25px;
    margin-bottom: 10px;
}

.prices {
    font-family: 'Fraunces', serif;
}

.featured {
    font-size: 30px;
    color: hsl(158, 36%, 37%);
}

.noFeatured {

    text-decoration-line: line-through;
    position: relative;
    top: -7px;
    /* This will move it 20px up */
    left: 8px;
    /* This will move it 20px to the right */
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1 {
    font-family: 'Fraunces', serif;
    margin-bottom: 15px;
    margin-top: 10px;
}

.mainDiv {
    background-color: white;
    border-radius: 10px;

    display: flex;
    width: 100%;
    flex-direction: column;
}

p {
    margin-top: 0px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    line-height: 25px;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-style: none;
    padding: 15px 35px;
    margin: 25px 10px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: background-color 200ms ease-in-out;
}
button:hover, button:focus {
    background-color: hsl(156, 36%, 15%);
}

button img {
    position: relative;
    top: 3px;
    /* This will move it 20px up */
    left: -8px;
    /* This will move it 20px to the right */
}

@media (min-width: 900px) {
    .mainDiv {
        flex-direction: row;
    }

    .design {
        border-radius: 10px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0px;
        flex-shrink: 1;
        width: 50%;

    }

    .text {
        flex-basis: 50%;
    }

    .mainDiv {
        width: 100%;
        max-width: 960px;
        height: 50%;
        max-height: 960px;
    }

    .design {
        display: none;

    }

    .big {
        display: block;
        border-radius: 10px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0px;
        flex-shrink: 1;
        width: 50%;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    p,
    h1,
    h2,
    button,
    .prices {
        margin-left: 30px;
        margin-right: 40px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        line-height: 40px;
    }

    .prices {
        margin-left: 50px;
        font-size: ;
    }

    .featured {
        font-size: 45px;
    }

    .noFeatured {
        font-size: 18px;
        left: 15px;
    }

    button {
        background-color: hsl(158, 36%, 37%);
        color: white;
        border-style: none;
        padding: 15px 35px;
        margin: 25px 10px;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
}
